body {
  font-family: Arial, sans-serif;
background-color: rgb(74, 74, 74)
;
  text-align: center;
}

#alphabet-buttons {
  margin: 20px 0;
}

.letter-button {
  display: inline-block;
  margin: 10px;
  padding: 20px;
  font-size: 24px;
  background-color: #010101;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.letter-button:hover {
  background-color: #676767;
}

#letter-display {
  margin-top: 40px;
  font-size: 68px;
}

